
:root{

  /* #Opción 5*/
    --color_nav:  #424333         ;
    --nav-menu: #FEFEFE;
    --nav-menu-hover:  #E8D680;
  
    --button-whatsapp:#25d366;
    --button-producto: #ff7e39;

    --footer_backgroud_color: #424333;
    --footer_color:#E8D680;

    --background-color-section: #393A34;
  
    --hero-h2: #393A34;
    --hero-p: #58452B;
    
    --background-color-about: #424233;
    --about-text-h2: #393A34;
    --about-text-p: #FEFEFE;
  
    --background-product-section: #3C3E3C;
    --product-section-h2: #333;
    --product-section-h3: #555;
    --product-section-p: #555;
  
    --choose-us-text-h2: #fff;
    --choose-us-text-p: #fff;
  
    --contact-background: #393A34;
    --contact-h2: #333;
    --contact-p: #555; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: var(--color_nav);
}

.papeltapiz-nav{
  width: 100vw; 
  height: 100px;
  background-image: url(./papeltapiz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50px;
  position: absolute;
  left: -1px;
  background-color: #3C3E3C;
}

.papeltapiz-nav-img {
  width: 350px;
  margin:0 auto;
  padding-top: 9px;
}

.papeltapiz-nav-img img{
  object-fit: contain; 
  width: 100%;
}
  
 /* Logo en el header */
.logo img {
  height: 60px; 
  max-height: 40px;
  width: auto;
}

/* Ajustes para pantallas más grandes */
@media (min-width: 768px) {
  /* .navbar {
      height: 80px; 
  } */

  .logo img {
      max-height: 60px;
  }
}
  
  .navbar .menu {
    list-style: none;
    display: flex;
    gap: 1em;
  }
  
  .navbar .menu li a {
    color: var(--nav-menu);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .navbar .menu li a:hover {
    color: var(--nav-menu-hover);
  }
  
  .hero {
    text-align: center;
    padding: 2em;
    
    
  }
  
  .hero h2 {
    color: var(--hero-h2);
    font-size: 2em;
    animation: slideIn 1s ease-out;
  }
  
  .hero p {
    color: var(--hero-p);
    font-size: 1.2em;
  }
  
  .section {
    padding: 2em;
    text-align: center;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 100%;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form input, .contact-form textarea, .contact-form button {
    padding: 0.8em;
    border: none;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #ff6384;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #e55370;
  }
  
  /* Animations */
  @keyframes slideIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar .menu {
      flex-direction: column;
      gap: 0.5em;
    }
  
    .hero h2 {
      font-size: 1.5em;
    }
  
    .hero p {
      font-size: 1em;
    }
  }
  

.header {
    text-align: center;
    padding: 20px;
    background-color: #ffcccb;
    animation: fadeIn 1s ease-in;
}

.header-title {
    font-size: 2rem;
    color: #d7263d;
}

.header-subtitle {
    font-size: 1.2rem;
    color: #444;
    margin-top: 10px;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 20px 0;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.5s ease;
    opacity: 0;
    animation: slideIn 1s forwards;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.about {
    text-align: center;
    padding: 20px;
    background-color: #ffeee4;
    animation: fadeInUp 1s ease-out;
}

footer {
  background-color: var(--footer_backgroud_color);
  background-image: url(./papeltapiz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--footer_color);
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  margin-top: 10px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-link:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 15px;
  font-size: 14px;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  color: #ecf0f1;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
  color: #3498db;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}

/* Responsividad */
@media (max-width: 600px) {
  .social-media a {
    font-size: 20px;
  }
  .copyright {
    font-size: 12px;
  }
}



@media (max-width: 768px) {
    .header-title {
        font-size: 1.5rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }

    .carousel-button {
        padding: 5px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Fullscreen Carousel Section */
.carousel-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: /*rgba(255, 99, 132, 0.8);*/ var(--color_nav);
  padding: 1em;
  z-index: 10;
}


.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-slide {
  display: none;
  width: 100vw;
  height: 100vh;
}

.carousel-slide.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 0.5em;
  z-index: 20;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Ajustes de menú responsivo */
@media (max-width: 768px) {
  .navbar .menu {
    flex-direction: column;
    gap: 0.5em;
  }
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* Alineación inicial de los hijos */
  justify-content: space-between;
  padding: 2em;
  background-color: var(--background-color-about);
}

.about-image {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrado vertical */
  padding: 10px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-text {
  flex: 1 1 60%;
  display: flex; /* Se establece flex en este contenedor */
  flex-direction: column; /* Alineación interna de los hijos (vertical) */
  justify-content: center; /* Centrado vertical del contenido */
  padding: 10px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.title-section-v {
  flex: 1 1 10%; /* Mantén el espacio que ocupa */
  display: flex;
  justify-content: center; /* Centrado horizontal dentro de su contenedor */
  align-items: center; /* Centrado vertical dentro de su contenedor */
  padding: 10px;
  transition: opacity 0.6s ease, transform 0.6s ease;
  text-transform: uppercase;
}

.title-section-v h2{
  font-size: 30px;
  font-weight: 900;
  transform-origin: center; 
  transform: rotate(-90deg);
}

.additional-content {
  flex: 1 1 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--background-color-secondary);
}

.additional-content img{
  object-fit: cover;
  width: 100%;
  height: 12px;
}

.about-text h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: var(--about-text-h2);
}

.about-text p {
  font-size: 1.1em;
  color: var(--about-text-p);
  line-height: 1.6;
  margin-bottom: 0.5em;
  text-align: center;
}

/* Animación al hacer scroll */
.show {
  opacity: 1;
  transform: translateX(0);
}

.choose-us-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-color: var(--background-color-section);
  overflow: hidden;
  height: 700px;
  background-image: url(./pink-cookies.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: background-size 0.5s ease-in-out;
}

.choose-us-text {
  flex: 1;
  padding: 10px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.choose-us-text h2 {
  font-size: 2.5em;
  font-weight: 700;
  /* margin-bottom: 1em; */
  color: var(--choose-us-text-h2);
}

.choose-us-text p {
  font-size: 1.1em;
  color: var(--choose-us-text-p);
  line-height: 1.6;
  margin-bottom: 0.5em;
}

.choose-us-image {
  flex: 1;
  display: flex;
  justify-content: end;  /* Centra la imagen por defecto */
  padding: 10px;
  position: relative; /* Contenedor con posición relativa */
}

.choose-us-image img {
  position: absolute;  /* Hace que la imagen no afecte el layout */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.choose-img img{
  object-fit: cover;
  width: 100%;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .choose-us-section {
    flex-direction: column;
    text-align: center;
    background-size: cover;
  }

  .choose-us-image {
    justify-content: flex-end;  /* Alinea la imagen a la derecha en pantallas grandes */
    width: 100px;
  }

  .choose-us-image img {
    right: 0; /* Mueve la imagen a la derecha */
    left: auto;
  }

  .choose-us-text, .choose-us-image {
    transform: translateX(0); /* Reiniciar posición en móvil */
  }
}

nav .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

nav .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}


@media (max-width: 768px) {
  .navbar .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: #333;
      width: 100%;
      padding: 1rem 0;
      text-align: center;
  }

  .navbar .menu.active {
      display: flex;
      z-index: 1;
  }

  .navbar .hamburger {
      display: flex;
  }
}

#contact {
  background-color: var(--contact-background);
  padding: 2rem;
  text-align: center;
}

#contact-container {
  max-width: 600px;
  margin: 0 auto;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--contact-h2);
}

#contact p {
  font-size: 1rem;
  color: var(--contact-p);
  margin-bottom: 1.5rem;
}

.whatsapp-button {
  display: inline-block;
  background: var(--button-whatsapp);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s ease;
}

.whatsapp-button:hover {
  background: #1ebe5a;
}

/* Responsivo */
@media (max-width: 768px) {
  #contact h2 {
      font-size: 1.5rem;
  }

  #contact p {
      font-size: 0.9rem;
  }

  .whatsapp-button {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
  }
}




/* Botón flotante */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366; /* Color verde de WhatsApp */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1); /* Agranda ligeramente el botón al pasar el mouse */
}

.whatsapp-float img {
  width: 30px;
  height: 30px;
}

/* Responsividad */
@media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
  }

  .whatsapp-float img {
    width: 25px;
    height: 25px;
  }
}

.map-container {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsividad */
@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 200px;
  }
}

/* Productos  */

.product-section {
  background-color: var(--background-product-section);
  padding: 2em;
  text-align: center;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos a la izquierda, centro y derecha */
  padding: 10px;
}

.title-section h1 {
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: 900;
}

.title-section img {
  max-height: 70px;
  object-fit: contain;
}

.left-img {
  margin-right: auto;
}

.right-img {
  margin-left: auto;
}

.product-section h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: var(--product-section-h2);
}

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.categories button {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;

  border: none;
  background: none;
}

.categories button:hover {
  text-decoration: underline #fff;
}

@media (max-width: 768px) {
  .categories {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 10px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Máximo 5 columnas */
  gap: 20px;
}

@media (max-width: 1024px) {
  .products {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .products {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .products {
      grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
  }
}

.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: 150px; /* Tamaño fijo para imágenes en la web */
  object-fit: cover; /* Mantener proporciones y recortar si es necesario */
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.product p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}


/* Ajustes responsivos */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .title-section-v {
    flex: 1 1 auto;
    transform: none; 
    margin: 0; 
    order: -1; 
    width: 100%; 
    text-align: left; 
    font-size: 1.5em;
    padding: 0 10px;
  }

  .title-section-v h2{
    transform: rotate(360deg);
  }

  .about-image {
    order: 0; /* Imagen después del título */
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho en móvil */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px;
    text-align: justify;
  }

  .additional-content {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .about-image, .about-text {
    transform: translateX(0); /* Reinicia posición en móvil */
  }
}

/* Smartphones, Portrait */
@media (max-width: 480px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .title-section-v {
    flex: 1 1 auto;
    transform: none; 
    margin: 0; 
    order: -1; 
    width: 100%; 
    text-align: left; 
    font-size: 1.5em;
    padding: 0 10px;
  }

  .title-section-v h2{
    transform: rotate(360deg);
  }

  .about-image {
    order: 0; /* Imagen después del título */
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho en móvil */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px;
    text-align: justify;
  }

  .additional-content {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .title-section h1 {
    font-size: 2rem;
  }
  
  .title-section img {
    max-height: 50px;
  }
}


/* Smartphones, Landscape */

@media (min-width: 481px) and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center; /* Centra los elementos */
    padding: 1.5em;
  }

  .title-section-v {
    transform: none;
    order: -1;
    width: 100%;
    text-align: center;
    font-size: 1.5em; /* Tamaño más grande que móviles pequeños */
    margin: 0 0 1.5em 0;
  }

  .about-image {
    order: 0;
    width: 80%; /* Permite margen alrededor de la imagen */
    max-width: 300px; /* Limita el tamaño máximo de la imagen */
    margin-bottom: 1em;
  }

  .about-text {
    order: 1;
    width: 90%;
    padding: 0 15px;
    font-size: 1em;
  }

  .additional-content {
    order: 2;
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
}


/* iPads (Portrait) */
@media (min-width: 769px) and (max-width: 1024px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .title-section-v {
    flex: 1 1 auto;
    transform: none; 
    margin: 0; 
    order: -1; 
    width: 100%; 
    text-align: left; 
    font-size: 1.5em;
    padding: 0 10px;
  }

  .title-section-v h2{
    transform: rotate(360deg);
  }

  .about-image {
    order: 0; /* Imagen después del título */
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho en móvil */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px;
    text-align: justify;
  }

  .additional-content {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}


/* iPads (Landscape)*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .title-section-v {
    flex: 1 1 auto;
    transform: none; 
    margin: 0; 
    order: -1; 
    width: 100%; 
    text-align: left; 
    font-size: 1.5em;
    padding: 0 10px;
  }

  .title-section-v h2{
    transform: rotate(360deg);
  }

  .about-image {
    order: 0; /* Imagen después del título */
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho en móvil */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    flex: 1 1 auto;
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px;
    text-align: justify;
  }

  .additional-content {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}